<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
    <head>
        <link rel="shortcut icon" href="{{ app.request.basepath }}/assets/css/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ app.request.basepath }}/assets/css/images/favicon.ico" type="image/x-icon">
        
        <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/jquery-ui.css" />


         <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery-1.11.1.js"></script>
        <script src="{{ app.request.basepath }}/assets/js/jquery.uniform.min.js"></script>

          <link href="{{ app.request.basepath }}/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
         <script src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>

        <script src="{{ app.request.basepath }}/assets/js/jquery-1.9.1.js"></script>
        <script src="{{ app.request.basepath }}/assets/js/jquery-ui.js"></script>
     
       

        <script type="text/javascript" src="{{ app.request.basepath }}/assets/fancybox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/fancybox/jquery.fancybox.pack.js"></script>
        <link href="{{ app.request.basepath }}/assets/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" /> 

   

        <script src="{{ app.request.basepath }}/assets/js/formulario.js"></script>
        <!-- Encabezado y pie-->

        <link href="{{ app.request.basepath }}/assets/css/headerFooter.css" rel="stylesheet" type="text/css" />

        <title>{{ TITLE_PAGE }}</title>

    </head>
    <body id="bodyappfb">
        <div class="mainHeader">
            <div class="contCent">
                <span class="logoClaro"></span>
            </div>
        </div>
        <div class="espacioA"></div>
         <div id='message'></div>
       <div id="main_content"  class="container" >

      {{menu|raw}}
      
            <div class="bs-docs-example">
                <div class="hero-unit">
                     <div class="row page-header" style="position: relative;">

                             <div id='module-listadopremio' class='well'>
                            {{usuarios|raw}}
                            </div>        
                     </div>      
                  </div>
            </div>
        </div>
        <div class="auxiliar mainFooter">
            <div class="contCent">              
                <span class="derechosRes">Todos los derechos reservados, Claro 2015.</span>             
            </div>
        </div>      
    </body>
</html>